#clock{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:45px;
    color:white;
    padding-top:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}