#quote {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:whitesmoke;
    align-items: flex-end;
    position:fixed;
    top:0;
    right:0;
}
#quote span:first-child{
    font-size: 17px;
}
#quote span:last-child{
    margin-top: 3px;
    font-size: 14px;
}
